<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>

<key>UIFileSharingEnabled</key>
<true/>
<key>LSSupportsOpeningDocumentsInPlace</key>
<true/>
	<key>NSCameraUsageDescription</key>
    	<string>Камера нужна для записи кружков</string>

    	<key>NSMicrophoneUsageDescription</key>
    	<string>Микрофон нужен для записи кружков</string>

	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Распознавание речи нужно для расшифровки кружков в текст</string>

	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>

</dict>
</plist>
